{% extends "base.html.twig" %}

{% block body %}
    {{ "Liste des gammes inforamtiques"|upper }}
    <br>
{{dump( "10/5/2008"|date('d/m/y') > "12/18/2022"|date_modify('+10 months +2 days')|date('d/m/Y')) }}
    <ul>
        {% for val in gamme %}
            <li>{{ val|title }}</li>    
        {% endfor %}
    </ul>
{% endblock %}